@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tangerine:wght@400;700&display=swap");

@font-face {
	font-family: santio;
	src: url("../fonts/Santio_regular.ttf");
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Tangerine', cursive;
#e7bc0e  / #efefef / #6bc1a3 / #cb91b6 / #7eb8e1 / #000 / #fff */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
	font-family: santio;
	font-size: 18px;
}

body {
	background: url("../img/cleo-topper.jpg") no-repeat fixed center;
}

.green {
	color: #6bc1a3;
}

.yellow {
	color: #e7bc0e;
}
.purple {
	color: #cb91b6;
}

.blue {
	color: #7eb8e1;
}
.big {
	font-size: 14em;
	font-weight: bold;
}

/* NAVIGATION */
nav {
	text-align: right;
	padding: 15px 20px;
}
nav img {
	width: 20px;
}
.navTitle {
	display: inline-block;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	width: 10%;
	text-align: left;
	text-decoration: underline;
	text-decoration-color: #e7bc0e;
	text-underline-offset: 5px;
	letter-spacing: 2px;
	margin-left: 20px;
}

header h1 {
	font-size: 78px;
	width: 30%;
	margin: 15% 0 10% 10%;
}

header p {
	padding: 0 0 15% 10%;
	font-size: 78px;
	color: #e7bc0e;
	font-family: "Tangerine", cursive;
	font-weight: 700;
	letter-spacing: -3px;
	display: inline-block;
	width: 40%;
}

.rotate {
	transform: rotate(-90deg);
	font-size: 120px;
	color: #e7bc0e;
	font-family: "Tangerine", cursive;
	width: 10%;
}

/* MAIN SECTION */

.descriptionText {
	font-size: 40px;
	line-height: 55px;
	width: 60%;
	font-weight: bold;
	margin: 0 auto;
}
.highlightText {
	font-family: inherit;
	font-size: inherit;
	background: #29272a;
	color: #efefef;
	line-height: inherit;
	padding: 0 5px 5px 0;
}
.smallText {
	font-size: 3em;
}
main img {
	width: 20%;
}

section img + p {
	padding: 60px 0 0 0;
}
main section:first-child {
	margin: 0 0 50% 0;
}

main section:not(main section:first-child) {
	padding: 0 0 35% 10%;
}

/* BEACHKIDS */

.kids{
    background: url('../img/see.png');
    background-color: #fff;
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    text-align:left;

}

.kids img{
    width:100vw;
    padding:0;
    padding-top: 10px;
    margin-bottom: -5px;
}

/* FOOTER */

footer{
    background: #000;
    padding: 40% 0 0 10%;
}

footer > p:first-child{
    font-size: 7em;
    width:80%;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 700;
    margin-bottom: 10%;
}

footer > a{
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    border-radius: 2px;
}

footer > a:hover{
    
    box-shadow: 8px 8px #fff;;
}

footer a + p{
    padding: 30% 0 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

footer > p > a{
    text-decoration: none;
}